<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom-margin" >
    <div class="container-fluid">
        <a class="navbar-brand" href="calendar">
            <img src="/assets/EventOrganizer.png" alt="" width="150">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ms-3">
                    <a class="nav-link" aria-current="page" href="#">
                        <img src="/assets/createEvent.svg" alt="">
                          Créer un évènement</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-3" >
                    <a class="nav-link" href="#">
                        <img src="/assets/notification.svg" alt="">
                          Notification</a>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/utilisateur.svg" alt="">
                        Utilisateur
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Mes évènement</a></li>
                        <li><a class="dropdown-item" href="#">Mon profil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" (click)="logout()">Déconnexion</a></li>
                    </ul>
                </li>
            </ul> 
        </div>
    </div>
</nav>
