<mat-form-field appearance="fill">
  <mat-label>Title</mat-label>
  <input placeholder="Title" type="text" matInput autocomplete="off">
</mat-form-field> 

<mat-form-field appearance="fill">
  <mat-label>Description</mat-label>
  <input placeholder="Description" type="text" matInput autocomplete="off">
</mat-form-field> 

<mat-form-field appearance="fill">
  <mat-label>Date</mat-label>
  <input placeholder="Date" type="text" matInput autocomplete="off">
</mat-form-field> 

<mat-form-field appearance="fill">
  <mat-label>Location</mat-label>
  <input placeholder="Location" type="text" matInput autocomplete="off">
</mat-form-field> 
