.form-container {
    font-family: 'Snell Roundhand', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(16, 16, 16), white);
}

.inscription-card {
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group{
    margin-bottom: 20px;
}

.btn-inscription {
    background-color: #8e94db; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.input-inscription {
    height: 20px; 
    width: 250px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h2{
color: rgb(51, 51, 51);
}