.form-container {
    font-family: 'Snell Roundhand', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(177, 179, 249), white)
}

.register-card {
    flex-basis: 400px;
  }

p {
    position: relative;
    left: 15px;
  }