<div class="login-container" >
  <div class="login-card">
    <h4>Connecter vous à Event Organizer</h4>
    <img src="/assets/user.jpg" alt="" width="150">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="form-group">
      <div class="input-group">
        <input class="input-login" type="email" id="mail" name="mail" ngModel required placeholder="Adresse mail">
      </div>
      <div class="input-group">
        <input class="input-login" type="password" id="password" name="password" ngModel required placeholder="Mot de passe">
      </div>
      <button class="btn btn-outline-success" type="submit" [disabled]="!loginForm.valid">Se connecter</button>
    </form>
    <p>Vous n'avez pas de compte ? <a [routerLink]="['/inscription']">Créer un compte</a></p>
  </div>
</div>