<div class="second_home_container">
  <div class="tables_area">
    <h4>Mes Événements</h4>
    <events-table
      [events]="myEvents"
      [displayedColumns]="myEventsDisplayedColumns"
      [showFilter]="true"
    ></events-table>
    <br>
    <h5>Événements publics</h5>
    <events-table
      [events]="publicEvents"
      [displayedColumns]="publicEventsDisplayedColumns"
      [showFilter]="false"
    ></events-table>
  </div>
  <div class="list_area">
    <h5>Notifications</h5>
    <app-notification-list></app-notification-list>
  </div>
</div>
